<div class="container">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Región</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cafe of cafes; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ cafe.nombre }}</td>
            <td>{{ cafe.tipo }}</td>
            <td>{{ cafe.region }}</td>
            </tr>
        </tbody>
    </table>
    <app-contador [cafes]="cafes"></app-contador>
</div>